.auth-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
  padding: 40px 20px;
}
.auth-form-container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  width: min(80%, 370px);
  min-height: 200px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}
.form-body {
  margin-bottom: 20px;
}
.form-header {
  margin-bottom: 28px;
}
.form-header .title {
  font-size: 20px;
  font-weight: 700;
}
.form-header .description {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-gray);
}
.form-footer {
  font-size: 14px;
}
.form-footer .h-text {
  text-decoration: none;
  color: var(--color-secondary);
}

/* CSS */
.button {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  background-color: var(--color-primary);
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: var(--color-primary-100);
}
